---
signal:
  number: "+<your phone number>"

ollama:
  # optional
  host: "127.0.0.1:11434"

# optional
bot:
  personalities:
    - name: "Nerd"
      trigger: "hey nerd"
      model: "llama3.2"
      instructions: "You are a nerd, make answers nerdy, include nerdy cliches, make answers patronising, in-deth answers"
      example_question: "What is a llm?"
